*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::placeholder {
  color: rgb(223, 223, 223);
}

body {
  display: flex;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin-top: 50px;
  padding: 20px;
  /* height: 250px; */
}

.controls {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.checked {
  text-decoration: line-through;
}

input {
  padding-left: 5px;
  height: 25px;
}

button {
  padding: 3px 5px;
  cursor: pointer;
}

h1 {
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  margin-top: 15px;
}

li {
  width: 200px;
  padding: 4px 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
}

li:hover {
  background-color: #b4b4b493;
}

li:nth-of-type(2n) {
  background-color: #e7e7e7;
}

li:nth-of-type(2n):hover {
  background-color: #b4b4b493;
}

.error {
  color: red;
  font-size: 12px;
  margin-bottom: 5px;
}

#addBtn {
  height: 25px;
  align-self: flex-end;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  width: 150px;
}

.delete {
  cursor: pointer;
  border: 1px solid black;
  padding: 0 6px;
  transition: all 0.3s;
}

.delete:hover {
  color: white;
  background-color: rgb(236, 26, 26);
}
